In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [85]:
column_name = 'data'
df = pd.read_csv("data.csv", dtype={column_name:str}, comment='@');

In [87]:
display(df.iloc[0:2])

,row_id,USERID,TIMESTAMP,belongSys,logs,_id,record,mydate,eid,ename,day_item_id,belongsession,logTime,interval_logs
0,9973082272,10669995,2022-12-14 01:59:05,1,"10x15,13x12,17x8",1,21.53,2022-12-13,1057,Cable Mid Chest Crossover,39,1670978854,1670978864,"0,0,0"
1,9973084827,10669995,2022-12-14 01:59:05,1,"10x15,13x12,17x8",2,21.53,2022-12-13,14,Cable Cross-Over,37,1670978854,1670978901,"0,0,0"